.red{
    background-color:#e3301e !important;
}


*{
/*    outline : 1px solid red;*/
}
body{
    font-size: 20px;
    background-color : #f3f3f3;
}

/*------------NAV BAR --------------------------*/
nav{
    position: fixed;
    top:0px;
    z-index:9999;
    padding-left:20px;
    padding-right:40px;
    background-color: rgba(0, 0, 0, 0.97) !important;
}

nav .btn{
    font-size:80%;
}


/*--------------END OF NAV BAR -----------------*/

/*-------SIDEBAR FOR FILTERS------------*/
.sidebar {
    height : 100vh; /* set it using jquery later */
    background-color: #fff;
    padding:0 !important;
    padding-top : 90px !important;
    position: fixed;
    top:0px;
}
/*-----END OF SIDEBAR-------------------*/
/*-------------RESTAURANTS CARDS SECTION----------*/
.restaurants{
    padding: 90px 40px 0 40px !important;
}

.restaurants h4{
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 400;
/*    color : #e3301e;*/
    border-bottom : 2px solid black;
    padding-bottom: 10px;
    font-size : 130%;
}
.restaurants-cards{
    padding-top: 30px !important;
    
}
.restaurants-cards .card{
    padding-left: 0px !important; 
    padding-right: 0px !important;
    padding-bottom: 12px !important;
}
.restaurants-cards .card-holder{
    padding: 10px 40px;
}
.rest-pic{
    justify-content: center;
    padding: 0 !important;
    height: 220px;
    overflow : hidden;
}
.rest-name,.rest-rating{
    padding-left:5px !important;
    padding-right:5px !important;
}
.rest-pic img{
    max-width:100%;
    transition: all 1s;
}
.rest-pic img:hover{
    transform: scale(1.1);
}
.rest-name h6{
    font-size : 130%;
    margin-top:20px;
    font-weight: 400;
    color : #e3301e;
    text-transform: capitalize;
}
.restaurants-cards button{
    font-size : 80%;
    margin-top:17px;
    background-color : rgba(0, 0, 0, 0.9) !important;
}
/*------------for the ratings--------------*/
.rating-badge{
    font-size : 65%;
    color : white;
}
.rating-value{
    font-size : 130%;
}
.good-rating{
    background-color: #21841f !important;
}
.med-rating{
    background-color : #ffac05 !important;
}
.bad-rating{
    background-color : #b31e1e !important;
}